body {
    background-color: pink;
    font-size: 12px;
}

body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button {
    margin: 0;
    padding: 0;
}

li {
    list-style: none
}

img {
    margin: 0 auto;
    padding: 0;
    /*padding: 0 auto; mismatched value*/
}

.cen {
    margin: 0 auto;
}

:focus {
    outline: 0 none;
}

.clear {
    clear: both;
}

.flower {
    width: 700px;
}

.nav {
    width: 700px;
}

.nav ul {
    width: 700px;
}

.nav ul li {
    float: left;
    text-align: center;
    width: 100px;
    height: 33px;
    line-height: 33px;
    background: url(../img/button1.jpg) no-repeat;
}

.nav ul li:hover {
    background: url(../img/button1_bg.jpg) no-repeat;
}

.nav ul li a {
    display: block;
    text-decoration: none;
    color: #000;
}

.content {
    width: 700px;
    margin-top: 37px;
}

.content .left {
    width: 180px;
    background: #fff;
    float: left;
}

.content .left .login {
    height: 160px;
    background: url(../img/login.jpg) no-repeat left top;
}

.content .left .login input {
    width: 120px;
    border: 0 none;
    border-bottom: 1px solid #000;
}

.content .left .login form ul {
    padding-top: 54px;
    margin-left: 16px;
}

.content .left .login ul li:nth-child(3) {
    margin-left: 32px;
}

.content .left .login button {
    font-size: 12px;
}

.content .left .using,
.content .left .sort,
.content .left .price {
    height: 256px;
    margin-top: 20px;
}

.content .left h3 {
    background-color: pink;
    padding: 5px;
    width: 120px;
    margin-left: 18px;
}

.content .left ul {
    margin-left: 16px;
}

.content .left ul li {
    background: url(../img/icon1.gif) no-repeat left center;
    border-bottom: 1px dashed #eee;
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
}

.content .right {
    width: 518px;
    margin-left: 2px;
    height: 400px;
    float:left;

}

.content .right .fastNews{
    width:518px;
    height: 150px;
    background:#fff url(../img/latest.jpg) no-repeat;
    margin-bottom:4px;
}
.content .right .fastNews ul{margin-top:40px;position:absolute;}
.content .right .fastNews ul li{float:left;width:172px;margin-right:1px;}
.content .right .fastNews ul li:nth-child(3){margin-right:0}
.content .right .recommend{
    height:370px;
    background:#fff url(../img/recommend.jpg) no-repeat;
}
.content .right .recommend ul{width:518px;margin-top:40px;position:absolute;margin-left:12px;}
.content .right .recommend ul li{float:left;width:106px;margin-right:22px;}
.content .right .recommend ul ol li{font-size:12px;width:106px;text-align: center;line-height:20px;height:20px;}

.content .right .newproducts{


}
.content .right .newproducts ul{margin-top:40px;position:absolute;}
.content .right .flowerbuy{}
