table {
    border: 10px outset black;
    /*border-collapse: collapse;*/
    /*border-spacing: 0;*/
    text-align: center;

    box-shadow: red 4px 4px 3px 0,
    blue 8px 8px 3px 0,
    yellow 12px 12px 3px 0;
}

table caption {
    color: white;
    text-shadow: black 1px 1px 1px,
    red 2px 1px 2px,
    blue -2px 1px 2px,
    yellow 0 -1px 2px;
}

table thead {
    background: blue;
}

table tr > th,
table tr > td {
    padding: 1px 10px;
    margin: 0;
    border: 1px dashed red;
}

.cyan {
    background: cyan;
}

.yellow {
    background: yellow;
}

ul {
    margin: 10px 0;
    padding: 0;
}

ul::after {
    content: "";
    display: block;
    clear: both;
}

ul.way1 li,
ul.way2 li {
    border: 1px solid black;
    list-style: none;
    float: left;
    position: relative;
    box-sizing: border-box;
}

ul.way1 li:hover::after {
    content: "";
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: red transparent transparent;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

ul.way2 li:hover span {
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: red transparent transparent;
    position: absolute;
    left: 50%;
    top: calc(100% + 1px);
    transform: translate(-50%, 0);
}

.arrow_div {
    margin-top: 20px;
}

.arrow {
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: solid 5px;
    border-color: red transparent transparent;
}

ul.link li {
    text-align: center;
    border: 1px solid red;
    list-style: none;
    float: left;
    position: relative;
}

ul.link li a {
    display: block;
    width: 50px;
}

ul.link li:hover::after {
    content: "";
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: red transparent transparent;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

ul.link li:hover a {
    color: black;
}

ul.counter {
    counter-reset: count;
}

ul.counter li {
    counter-increment: count;
    margin-left: calc(counter(count) * 10px);
}

ul.counter li::after {
    margin-left: 10px;
    content: counter(count);
}

ul.over {
    margin-left: 100px;
}

ul.over li {
    list-style: circle;
}
