/* global css */

body {
    width: 704px;
    height: 1052px;
    border: 1px solid #2c2c2c;
    background: #ffd8d9;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none
}

.center {
    margin: 0 auto;
}

/* main css */

.banner {
    height: 122px;
    border-bottom: 1px solid #808080;
}

.navigator {
    height: 38px;
    padding-left: 3px;
    border-bottom: 1px solid #808080;
}

.navigator ul li {
    float: left;
    width: 99px;
    height: 18px;
    padding-top: 10px;
}

.navigator ul li a {
    height: 18px;
    line-height: 18px;
    color: #630002;
    font-size: 12px;
    display: block;
    background: url("../img/button1.jpg");
    padding-left: 24px;
}

.navigator ul li a:hover {
    background: url("../img/button1_bg.jpg");
}

.content {
    height: 890px;
    background-color: white;
    clear: both;
}

.left {
    width: 181px;
    border-right: 1px solid #808080;
    float: left;
    box-sizing : border-box
}

.left .login_panel {
    height: 125px;
    font-size: 14px;
}

.left .login_panel li {
    height: 24px;
    margin-left: 10px;
}

.left .login_panel input {
    width: 120px;
    height: 14px;
    border: 0 none;
    border-bottom: 1px black solid;
}

.left .login_panel input:focus {
    outline: 0 none;
}

.left .login_panel .buttons {
    margin-left: 15px;
}

.left .categories div:first-child {
    margin-top: 29px;
}

.left .categories div {
    margin-top: 49px;
}

.left .categories div:last-child {
    margin-bottom: 20px;
}

.left .categories div .cate_title {
    margin: 0 18px;
    padding-left: 3px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    background: #ffd8d9;
}

.left .categories div ul {
    margin-left: 15px;
    margin-right: 64px;
}

.left .categories div ul li {
    height: 23px;
    line-height: 23px;
    font-size: 13px;
    border-bottom: 1px dashed #999999;
}

.left .categories div ul li img {
    margin-right: 20px;
}

.right {
    width: 523px;
    float: left;
    box-sizing : border-box
}

.right .latest {
    height: 154px;
    border-bottom: 1px solid #808080;
}

.right .latest > img {
    margin-top: 2px;
}

.right .latest ul li {
    float: left;
    padding-right: 4px;
}

.right .latest ul li:last-child {
    padding: 0;
}

.right .recommends {
    height: 383px;
    border-bottom: 1px solid #808080;
}

.right .recommends > img {
    margin-top: 27px;
}

.right .recommends ul li {
    width: 106px;
    float: left;
    margin: 0 12px;
}

.right .recommends p {
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    color: black;
}

.right .recommends p:nth-child(2) {
    color: #551a8b;
}

.right .news {
    height: 203px;
    border-bottom: 1px solid #808080;
}

.right .news > img {
    margin-top: 25px;
}

.right .news ul {
    margin-left: 11px;
}

.right .news ul li {
    margin-right: 22px;
    float: left;
}

.right .news p {
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    color: #551a8b;
}

.right .guide {

}

.right .guide > img {
    margin-top: 20px;
    margin-bottom: 5px;
}

.right .guide ul {
    margin-left: 35px;
}

.right .guide ul li {
    margin-bottom: 4px;
    float: left;
    width: 230px;
}

.right .guide ul li img {
    margin-right: 3px;
}

.right .guide ul li a {
    color: black;
    font-size: 12px;
}
