.content {
    width: 960px;
    height: 520px;
    overflow: hidden;
}

.content {
    float: left;
    width: 960px;
    height: 520px;
    box-shadow: -30px -30px 50px -70px;
    font-size: 14px;
    background: url("../img/download/page.png") no-repeat;
    position: relative;
}

.content .v1 {
    float: left;
    width: 595px;
    height: 310px;
    margin-top: 80px;
    margin-left: 124px;
}

.content .v1 h1 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.content .v1 p {
    font-size: 12px;
    margin-bottom: 12px;
    color: #666;
}

.content .v2 {
    float: left;
    margin-top: 85px;
}

.content .v2 h1 {
    font-size: 23px;
    padding-left: 8px;
    margin-bottom: 40px;
    font-weight: bold;
}

.content .v2 p {
    font-size: 12px;
    margin-bottom: 12px;
    color: #666;
}

.content .notice {
    clear: both;
    margin-left: 55px;
}

.content .notice h3 {
    background: #f9e7bf;
    width: 73px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 22px;
    font-weight: bold;
    border-radius: 3px;
}

.content .notice p {
    font-size: 12px;
    color: #cc7b49;
    padding-left: 8px;
    margin-bottom: 12px;
}

.content #download_1 {
    position: absolute;
    left: 123px;
    top: 253px
}

.content #contact {
    position: absolute;
    left: 257px;
    top: 253px
}

.content #download_2 {
    position: absolute;
    left: 721px;
    top: 253px
}