.content {
    width: 960px;
    height: 520px;
}

.content .left {
    float: left;
    width: 256px;
}

.content .left ul {
    width: 170px;
    margin: 25px auto 0;
}

.content .left ul li {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: rgb(26, 93, 150);
    cursor: pointer;
}

.content .left ul li.left_li_selected {
    color: rgb(0, 137, 254);
}

.content .left ul li.left_li_selected::after {
    content: url("../img/how-to-pay/arrow.png");
    margin-left: 6px;
}

.content .right {
    float: left;

    width: 654px;
    height: 520px;
    box-shadow: -30px -30px 50px -70px;
    padding: 0 25px;
    font-size: 14px;
}

.content #list_1 h3 {
    width: 646px;
    height: 38px;
    background: rgb(242, 247, 252);
    margin-top: 25px;
    margin-bottom: 22px;
    padding-left: 8px;
    font-size: 16px;
    font-weight: bold;
    line-height: 38px;
}

.content #list_1 > *:not(h3) {
    margin-left: 7px;
}

.content #list_1 table {
    width: 640px;
    margin-top: 22px;
    margin-bottom: 29px;
}

.content #list_1 table tr > * {
    border: 1px white solid;
}

.content #list_1 table tr th {
    height: 30px;
    line-height: 30px;
    color: rgb(60, 120, 180);
    font-weight: bold;
    background: rgb(218, 235, 247);
}

.content #list_1 table tr td {
    padding: 0 8px;
    font-size: 12px;
    background: rgb(241, 247, 252);
}

.content #list_1 table tr:nth-child(2) {
    height: 43px;
    line-height: 43px;
}

.content #list_1 table tr:nth-child(2) td:first-child {
    color: rgb(60, 120, 180);
}

.content #list_1 table tr:nth-child(2) td:nth-child(4) {
    width: 76px;
}

.content #list_1 table img {
    height: 23px;
    vertical-align: middle;
}

.content #list_1 table div {
    border: 1px rgb(204, 204, 204) solid;
    background: rgb(240, 240, 240);
    margin: 8px 0;
}

.content #list_1 table div p {
    margin-left: 6px;
    margin-bottom: 11px;
}

.content #list_1 table div p:first-child {
    margin-top: 12px;
    font-weight: bold;
}

.content #list_1 > p,
.content #list_1 ol li:first-child {
    margin-bottom: 12px;
}

.content #list_1 > p,
.content #list_1 ol li {
    font-size: 12px;
}

.content #list_1 ol li {
    margin-left: 15px;
    list-style: decimal;
}