body {
    background: black;
}

div {
    width: 364px;
    height: 250px;
    background: white;
    font-size: 12px;
    font-family: "宋体", sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

ul {
    margin-left: 17px;
}

ul::after {
    content: "";
    display: block;
    clear: both;
}

ul li {
    width: 103px;
    float: left;
    margin-left: 6px;
}

ul li:first-child {
    margin-left: 0;
}

ul li span {
    display: block;
    margin: 16px 0;
}

ul li:nth-child(1) span {
    margin-left: 15px;
}

ul li:nth-child(2) span {
    margin-left: 26px;
}

ul li:nth-child(3) span {
    margin-left: 19px;
}

p {
    height: 12px;
    margin: 0 0 13px 18px
}

p > span {
    float: left;
    width: 162px;
}

.red {
    color: red;
}


