*{
	padding: 0;
	margin: 0;
}
li{
	list-style-type: none;
}
body{
	margin: 50px;
}

.wrap{
	width: 500px;
	height: 350px;
	border: 3px solid #f00;
	position:relative;
	
}

.wrap ul{
	width: 3000px;
	position: absolute;
	left: 0;
	top: 0;
}

.wrap ul li{
	float: left;
	width: 500px;
}

.wrap ol{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.wrap ol li{
	float: left;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	border: 1px solid #fc0;
	background: #000;
	color: #fff;
	margin-right: 3px;
	cursor: pointer;
}

.wrap ol li.current{
	background: #fff;
	color: #000;
}

.wrap .introduce{
	height: 30px;
	line-height: 30px;
	width: 350px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	position: absolute;
	bottom: 10px;
	left: 0;
	/*opacity: 0.5;
	filter:alpha(opacity=50); */
}


